@{
  Layout = "_Layout";
}

@model RecipeBook.Models.Recipe;

<div class="sub-header">
  <h5>Add New Recipe</h5>
</div>
<hr/>

<div class="container">
  @using (Html.BeginForm())
  {
    <div class="card">
      <div class="card-header">
        <h5>Recipe Details</h5>
      </div>
      <div class="card-body">
        @Html.LabelFor(m => m.Name)
        <br/>
        @Html.TextBoxFor(m => m.Name, new { @class="form-control round" })
        <br/>
        @Html.ValidationMessageFor(m => m.Name, "", new { @class="text-danger"})
        @Html.LabelFor(m => m.Instructions)
        <br/>
        @Html.TextBoxFor(m => m.Instructions, new { @class="form-control round" })
        <br/>
        @Html.ValidationMessageFor(m => m.Instructions, "", new { @class="text-danger"})
        @Html.LabelFor(m => m.Ingredients)
        <br/>
        @Html.TextBoxFor(m => m.Ingredients, new { @class="form-control round" })
        <br/>
        @Html.ValidationMessageFor(m => m.Ingredients, "", new { @class="text-danger"})
        @Html.LabelFor(m => m.Category)
        <br/>
        @Html.DropDownList("CategoryId")
        <br/>
        @Html.ValidationMessageFor(m => m.CategoryId, "", new { @class="text-danger"})
        <br/>
      </div>
      <div class="card-footer">
        <input type="submit" value="Add New Recipe" class="btn btn-primary" />
        &nbsp;&nbsp;@Html.ActionLink("Cancel", "Index")
      </div>
    </div>
  }
  <br/>
</div>