@{
  Layout = "_Layout";
}

@using RecipeBook.Models;
@model RecipeBook.Models.Recipe;

<div class="sub-header">
<h5>Recipe Details</h5>
</div>
<hr/>

<div class="container">
  <div class="card">
    <div class="card-header">
      <h5>@Model.Name</h5>
      Submitted by @Model.User.UserName
      @if(User.Identity.Name == @Model.User.UserName || User.IsInRole("Admin"))
      {
        <br/>
        @Html.ActionLink("Edit Recipe", "Edit", new { id = Model.RecipeId}) @:|
        @Html.ActionLink("Remove Recipe", "Delete")
      }
    </div>
    <div class="card-body">
      <h6>Ingredients: @Model.Ingredients</h6>
      <h6>Instructions: @Model.Instructions</h6>
    </div>
  </div>
</div>