@{
  Layout = "_Layout";
}
@using RecipeBook.ViewModels;
@model LoginViewModel;

<h5>Log in with your Account</h5>
<hr/>

<div class="container">


  @if(!ViewData.ModelState.IsValid)
  {
    @Html.ValidationSummary("Please fix the following error(s):")
  }

  @using (Html.BeginForm())
  {
    @Html.LabelFor(user => user.Email)
    <br/>
    @Html.TextBoxFor(user => user.Email)
    <br/>
    @Html.LabelFor(user => user.Password)
    <br/>
    @Html.EditorFor(user => user.Password)
    <br/>
    <br/>
    <input type="submit" value="Log In" />
  }

  <br/>

  <p>@Html.ActionLink("Register for an Account", "Register")</p>

</div>